*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
}

a{
    color: rgb(47, 47, 255);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;

}
nav #esquerda a{
    color: black;
    font-size: 22px;
    font-weight: 600;

}
nav #direita span{
    margin-left: 5px;
}


nav #direita a{
    color: black;
    margin-right: 10px;

}

nav #direita a:last-child{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px 15px;
    border-radius: 50px;
}

#intro{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 50px 0px;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

#intro .texto{
    flex: 5;

}

#intro #foto{
    flex: 2;
    display: flex;
    justify-content: right; 

}
#intro #foto img{
    border-radius: 50%;
    width: 350px; 
    height: 350px;

}

#intro h2{
    font-size: 50px;
}

#intro .texto .links{
    margin-top: 20px;
    
}

#intro .texto .links a{
    display: inline-block;
    padding: 5px 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(47, 47, 255);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
    transition: 0.1s;
}

#intro .texto .links a:hover{
    color: black;
    border-color: black;
}

#habilidades{
    padding: 0 50px;
    margin-bottom: 100px;
}

#habilidades h2{
    text-align: center;
    font-size: 35px;
}

#habilidades .texto{
    text-align: center;
    margin-bottom: 20px;
}

#habilidades .celulas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#habilidades .celulas .celula{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    gap: 10px;    

}

.celula span{
    font-size: 18px;
}

.celula img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    object-fit: contain;
}


#projetos{
    text-align: center;
    margin-bottom: 100px;
}

#projetos h2{
    font-size: 35px;
    margin-bottom: 10px;
}

#projetos .vitrine{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#projetos .vitrine .projeto{

    width: 500px;
    border: 1.5px solid lightgray;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#projetos .vitrine .projeto .foto{
    margin-top: 20px;
    height: 202px;
    width: 402px;
    border: 1px solid rgb(230, 230, 230);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;

}

#projetos .vitrine .projeto .foto img{
    height: 200px;
    width: 400px;
}

#projetos .vitrine .projeto .texto h2{
    font-size: 16px;
    margin-bottom: 10px;
}

#projetos .vitrine .projeto .texto .links{

    width: 100%;
    height: 50%;
    
}

#projetos .vitrine .projeto .texto .links a{
    display: inline-block;
    padding: 5px 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(47, 47, 255);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
    transition: 0.1s;
}

#projetos .vitrine .projeto .texto .links a:hover{
    color: black;
    border-color: black;    
}

.secao-contato{
    padding: 0 50px;
    margin-bottom: 100px;
}

.secao-contato h2{
    font-size: 35px;
}

.secao-contato .grupo{
    display: flex;
    gap: 50px;
}

.secao-contato .grupo .texto{
    margin-top: 20px;
    flex: 3;
}

.secao-contato .grupo form{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.secao-contato .grupo form input,
.secao-contato .grupo form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgb(47, 47, 255);
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;

}

.secao-contato .grupo button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(47, 47, 255);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.secao-contato .grupo button:hover{
    filter: brightness(.9);
}
@media (max-width:1110px){

    #projetos .vitrine{
        height: 100%;
    }

    #projetos .vitrine .projeto{
        height: 525px;
        width: 750px;
    }
    #projetos .vitrine .projeto .foto{
        height: 302px;
        width: 602px;
    }
    #projetos .vitrine .projeto .foto img{
        height: 300px;
        width: 600px;
    }
    .secao-contato .grupo{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:850px){
    #intro .texto h2{
        font-size: 35px;
    }

}


@media (max-width:740px){
    #intro{
        flex-direction: column-reverse;
    }
    #intro #foto img{
        width: 300px;
        height: 300px;
    }

}


@media (max-width: 620px){
    nav {
        padding: 0 20px;
    }
    nav #direita a span{
        display: none;
    }
    nav #direita a:last-child{
        color: black;
        background-color: #f5f5f5;
        padding: 5px 

    }
    nav #direita a i{
       font-size: 30px;
    }
    #intro {
        padding: 0px 20px;
    }

    #intro .texto h2{
        font-size: 30px;
    }
    #habilidades{
        padding: 0 20px;
    }
    #habilidades .celulas .celula span{
        font-size: 16px;
    }
    #projetos{
        padding: 0 20px;
        
    }
    #projetos .vitrine .projeto {
        width: 100%;
        overflow: hidden;
        display: flex;
        padding: 0 20px;
        height: 50%; 
     
        

    }

    #projetos .vitrine .projeto .foto {
        width: 100%;
        height: auto;
        aspect-ratio: 2.02/1;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
   
        
  
    }

    #projetos .vitrine .projeto .foto img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;

         
    }
    #projetos .vitrine .projeto .texto{
        font-size: 20px;
    }
    #projetos .vitrine .projeto .texto h2{
        font-size: 20px;
    }

    #projetos .vitrine .projeto .texto .links{
        display: flex;
        flex-direction: column
    }

    .secao-contato{
        padding: 0 20px;
    }


}

